.root{
    --titel-text-color:#2E2F42;
    --background-color:#fff;
    --subtitel-text-color:#434455;
    --button-text-color: #4D5AE5;
    
}
.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color:var(--primary-text-color)
    }
    .btn{
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 0.93;
            align-items: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background-color:#4D5AE5;
            cursor: pointer;

    }


    .list{
        list-style: none;
    }
    .link{
        text-decoration: none ;
    }
/* -------header-------- */
.header {
    background-color: var(--background-color);
    
}
.header-navigation {

}
.header-logo {
        font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }
          
        .header-logo span {
            color: #2E2F42;
        }

.header-list {
      }
.header-item {
   }
.header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--titel-text-color)
    }
    .header-link:hover,
    .header-link:focus {
        color:#4D5AE5;
    }
.header-mail {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
          color: var(--titel-text-color);
          font-style: normal;
          }
.header-mail:hover,
.header-mail:focus{
    color:#4D5AE5;
}
.header-telephone {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--titel-text-color);
        font-style: normal;
}
.header-telephone:hover,
.header-mail:focus{
    color:#4D5AE5;
}
/*hero*/
.hero {
    background-color: #2E2F42;
       
   
}

.hero-titel {
        font-weight: 700;
        font-size: 56px;
        line-height:1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.hero-button {
          
}

    /*section features*/
.section {}

.section-titel {}

.feature-list {}

.feature-item {}

.feature-titel {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 0,6;
        letter-spacing: 0.02em;
        color:var(--titel-text-color);
}

.feature-subtitel {
    font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 0,93;
        letter-spacing: 0.02em;
         color: var(--primary-text-color);
}

/*section doing*/
.doing {}

.doing-titel {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height:0,03;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--titel-text-color)
}

/*section team*/
.section-team {}

.section-titel {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 36px;
        line-height:0,03;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:var(--titel-text-color)
}

.team-list {}

.team-item {}

.team-titel {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        line-height: 0,6;
        letter-spacing: 0.02em;
        color: var(--titel-text-color)
}

.team-subtitel {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 0,93;
       letter-spacing: 0.02em;
        color: var(--primary-text-color)
}
/*footer*/


.footer-logo {
    
            font-family: 'Raleway'
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
        }
    
        .footer-logo span {
            color: #F4F4FD;
    
        }


.link {}

.footer-subtitel {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 0,93;
        letter-spacing: 0.02em;
         color: #E7E9FC;
}
.footer {
    background-color: #2E2F42;
    height: 310px;
    left: 0px;
   }

   /*-------Portfolio--------*/
.root{
    --hover-background-color:#404BBF;
     --background-button-color:#E7E9FC;
}
.list {
    list-style: none;
    
}

.link {
    text-decoration: none;
    font-style: normal;
}

body{

}

.navigation-button {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #4D5AE5;
       cursor: pointer;
       list-style: none;
        
 }


    

.navigation-button:hover,
.navigation-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
}

    

/*sections*/
.section{} 


.list {
    
}

.list-item {

}

.list-titel {
    font-family:'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 0,6;
    letter-spacing: 0.02em; 
    text-decoration: none;
    list-style: none;
    color:var(--titel-text-color;)
   
}

.list-subtitel {
    font-family:'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 0,93;
       letter-spacing: 0.02em;
        color:var(--subtitel-text-color;)
        
}
/*footer*/


.footer-logo {

    font-family: 'Raleway'
        font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* IRIS */
    color: #4D5AE5;
}

.footer-logo span {
    color: #F4F4FD;

}


.link {}

.footer-subtitel {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 0,93;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer {
    background-color: #2E2F42;
    height: 310px;
    left: 0px;
}